@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cabin+Sketch&family=Charmonman:wght@700&family=Dancing+Script:wght@500&family=Fredericka+the+Great&family=Fredoka+One&family=Lato:ital,wght@0,100;1,700&family=Open+Sans:wght@300&family=Original+Surfer&family=Pacifico&family=Rye&family=Ubuntu:wght@300&family=UnifrakturCook:wght@700&family=Unkempt:wght@700&display=swap');






body{
  text-align: center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;




  background-color: #dddddd;
  background: linear-gradient(155deg,#dddddd 80%,RGBA(25, 211, 218)80%);
}
h1{
  font-family: 'Fredoka One', cursive;
  color: white;
}



/******************ABOUT************************/

/*******************PRofile********************/

.profile{
  background:linear-gradient(25deg , rgba(0,0,0,0.1) 55% ,rgba(0,0,0,0.5)55%);

  padding:4% 5%;
}
.profile h1{
  margin-top: 10px;
}
.about{
  font-family: 'Fredoka One', cursive;
  word-spacing:20px;
  letter-spacing: 3.5px;
  font-size: 50px;
}
.hello{
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
 color: #206a5d;
 font-weight:bold;
}
.profile img{
  width: 15%;
  border-radius: 50%;
 border:4px solid rgba(0,0,0,0.55);
 box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.3), -10px -10px 10px 0 rgba(0,0,0,0.3),-10px 10px 10px rgba(0,0,0,0.3),10px -10px 10px 0 rgba(0,0,0,0.3);


}
.profile p{
  width: 50%;
  margin:0 auto;
  color: #5aa897;
  font-family: 'Pacifico', cursive;

}
.profile hr{
  margin-top: 20px;
  border: 10px solid black;
  border-style: dotted;
  border-top: none;
  width: 2%;
  border-color: rgba(0,0,0,0.5);
}

/*********************academics qualification*******************/
.box1{
  position: relative;
  bottom:46px;
  width:80%;
  margin:0px auto;
  background: linear-gradient(45deg ,#98ded9 90%,#00917c 90%);
  background-color:#98ded9;
  box-shadow:10px 8px 15px 0 rgba(0,0,0,0.4),-10px 0 15px 0 rgba(0,0,0,0.4);
  border-radius:40px;
  border:5px solid #98ded9;


}
.flex-box2{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.box11{
    text-align: right;

  border:1px solid #98ded9;
}
.box12{

}
.acad{
  font-size: 70px;
  font-family: 'UnifrakturCook', cursive;
  color: #007580;
  text-shadow: -10px -10px  rgba(0,0,0,0.08) ;
}
.acad img{
  width:10%;
}
.school {
  width:70%;
  margin:30px auto;
}
.school h1{
  color:#b7657b;
}
.flex-box3{
  display: flex;
  justify-content: center;
  text-align: left;
}
.box1 p{
  font-weight: bold;
  color: #6e7c7c;
}
.box14 h1{
  color: #b7657b;
}
.box14 p{
  width:80%;

}


/*******************SKILLS**********************/
.box2{
  background-color:#00af91 ;
  height:750px;
  padding:1% 3%;
}
.box2 img{
  width:6%;
}
.box2 h1{
  font-size: 70px;
  font-family: 'Fredericka the Great', cursive;
}
.flex-box{
  display: flex;
  justify-content: center;
}
.skills{
  height:430px;
  width: 430px;
  border-radius: 10px;
  background-color:#007965;
  margin:auto auto;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
  transition: all 0.5s ease;

}
.skills:hover{
  transform: translate(10px ,10px);
  box-shadow: 5px 5px 10px 0;
}
.skills h1{
 font-size: 50px;
 font-family: 'Cabin Sketch', cursive;

}
.skills li{
  padding:10px;
  font-family: 'Archivo Black', sans-serif;

}

.flex-box ul{
  list-style: none;
  padding-left: 0px;

}
.technical{

}
/************************Archievement****************/
.achievement{
  background-color: #ee9595;
  border:4px solid #ee9595;
}
.achievement h1{
  font-size: 50px;
  font-family: 'Rye', cursive;

}
.achievement h1 img{
  width:6%;
}
.flex-box4{
  display: flex;
  justify-content: center;

}
table{
  width:100%;
  margin:auto auto;
  border-collapse: collapse;
  background-color: rgba(0,0,0,0)
}
th{
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding:20px;
  background-color: #ef4f4f;
}
td{
  background-color: ;
  padding:10px;
}

tr:nth-child(even){
  background:linear-gradient(90deg,#ff8585,#ee9595);
}
tr:hover{
  background:linear-gradient(90deg,grey,white);
}

/************************FORM*******************/
.box4{
  width:50%;

  margin: 40px auto;
  padding:2% 5%;
  background-color: #2d6187;
  box-shadow:20px 20px 30px 0px rgba(0,0,0,0.5);
}
.box4 img{
  width:15%;
  transition: all 0.5s;
}
.img:hover{
  transform: scale(1.2);
}
.box4 h1{
  font-size: 50px;
  font-family: 'Unkempt', cursive;
}
input{
  width:90%;
  padding: 10px;
  border-radius: 10px;
  border:0px;
  background-color:#e8ffff;
}
input:hover{
  background-color: white;
}
textarea{
  width:90%;
  height:80px;
  padding: 10px;
  border-radius: 10px;
  border:0px;
  background-color:#e8ffff;
}
textarea:hover{
  background-color: white;
}
button{
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  border:0px;
  background:linear-gradient(40deg ,#0f3057,#00587a) ;
  font-weight: bold;
  color:#51adcf;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);

}
button:hover{
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.6);
transform: scale(0.95) ;


}

label{
  color: white;
}

/************************header*****************/
header{
  background-color:rgba(0,0,0,0.6)  ;
  position:sticky;

}

header img{
  width: 4%;
  margin:0 90% auto auto;
  transition: all 0.5s ease;

}
header img:hover{

  transform:translate(-10px, -10px);

}
header a{
  padding: 20px;
  color:rgba(0,0,0,0.6) /*rgba(109, 220, 207,0.7)*/;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  font-weight:bold;
  transition: all 0.6s ease;

}
header a:hover{
  color:rgba(0,0,0,0.7);
  background-color: GREY;
}
.navitems{
  width:500px;
 position: relative;
  left:60%;
  top: 30px;
}
/**************************Footer****************************/
footer{
  background-color: #28abb9 ;
  margin-top: 80px;
  border:1px solid  #28abb9 ;

}
footer img{
  width:30px;
  padding:40px 80px 10px 80px;
}
footer p{
  text-align: center;
}
